In [17]:
# Whenever an import statement is written this will reload it
# Makes sure lastest version of file is running
%reload_ext autoreload
%autoreload 2

In [19]:
import sys

In [20]:
sys.path.insert(0, '/Users/harrypatterson/taxi_demand_predictor')

In [9]:
from src.data import load_raw_data

rides = load_raw_data(year=2022)
rides

File 2022-01 was already in local storage
File 2022-02 was already in local storage
File 2022-03 was already in local storage
File 2022-04 was already in local storage
File 2022-05 was already in local storage
File 2022-06 was already in local storage
File 2022-07 was already in local storage
File 2022-08 was already in local storage
File 2022-09 was already in local storage
File 2022-10 was already in local storage
File 2022-11 was already in local storage
Downloading file 2022-12
2022-12 file is not available

            pickup_datetime  pickup_location_id
0       2022-01-01 00:35:40                 142
1       2022-01-01 00:33:43                 236
2       2022-01-01 00:53:21                 166
3       2022-01-01 00:25:21                 114
4       2022-01-01 00:36:48                  68
...                     ...                 ...
3252712 2022-11-30 23:17:09                 144
3252713 2022-11-30 23:48:48                  45
3252714 2022-11-30 23:04:36                 163
3252715 2022-11-30 23:18:37                 161
3252716 2022-11-30 23:30:50                  74

[36255131 rows x 2 columns]

In [22]:
# Transform raw data into time series

from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 265/265 [00:13<00:00, 19.54it/s]

                pickup_hour  rides  pickup_location_id
0       2022-01-01 00:00:00      0                   1
1       2022-01-01 01:00:00      0                   1
2       2022-01-01 02:00:00      0                   1
3       2022-01-01 03:00:00      0                   1
4       2022-01-01 04:00:00      1                   1
...                     ...    ...                 ...
2124235 2022-11-30 19:00:00      4                 265
2124236 2022-11-30 20:00:00      5                 265
2124237 2022-11-30 21:00:00      7                 265
2124238 2022-11-30 22:00:00      5                 265
2124239 2022-11-30 23:00:00      9                 265

[2124240 rows x 3 columns]

In [23]:
# Transformation of time series data into tabular data with features and targets

from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 265/265 [01:46<00:00,  2.49it/s]

features.shape=(81090, 674)
targets.shape=(81090,)

In [24]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')